<!-- home section -->
<div class="container">
    <section class="small-section pb-0 pt-res-0 small-slider">
        <div class="slider-animate home-slider">
            <div>
                <div class="home height-apply">
                    <img src="themes/mini_store/public/images/marketplace/home-slider/3.jpg" alt=""
                         class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain px-padding height-apply">
                                    <div>
                                        <h4 class="animated" data-animation-in="fadeInUp">save 30%</h4>
                                        <h1 class="animated" data-animation-in="fadeInUp" data-delay-in="0.3">
                                            phones</h1><a href="#" class="btn btn-solid animated"
                                                          data-animation-in="fadeInUp" data-delay-in="0.5">shop
                                            now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="home height-apply">
                    <img src="themes/mini_store/public/images/marketplace/home-slider/4.jpg" alt=""
                         class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain px-padding height-apply">
                                    <div>
                                        <h4 class="animated" data-animation-in="fadeInUp">save 30%</h4>
                                        <h1 class="animated" data-animation-in="fadeInUp" data-delay-in="0.3">
                                            fashion</h1><a href="#" class="btn btn-solid animated"
                                                           data-animation-in="fadeInUp" data-delay-in="0.5">shop
                                            now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- home section -->
<!-- banner section start -->
<section class="banner-goggles banner-padding ratio2_1">
    <div class="container">
        <div class="row partition3">
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner">
                        <div class="img-part">
                            <img src="themes/mini_store/public/images/marketplace/banner/16.jpg"
                                 class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>10% off</h4>
                                <h2>speaker</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner">
                        <div class="img-part">
                            <img src="themes/mini_store/public/images/marketplace/banner/17.jpg"
                                 class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>10% off</h4>
                                <h2>earplug</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner">
                        <div class="img-part">
                            <img src="themes/mini_store/public/images/marketplace/banner/18.jpg"
                                 class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>50% off</h4>
                                <h2>best deal</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->
