{{ page.header }}
<section class="section-b-space blog-page ratio2_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7">
                {{ page.content }}
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5">
                {{ page.sidebar_first }}
            </div>
        </div>
    </div>
</section>

{{ page.footer }}


